* {
    margin: 0;
    padding: 0;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.board {
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.cel {
    background-color: #e3e3e3;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    text-align: center;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}

.winner, .draw {
    text-align: center;
}

.popup {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 99;
    position: absolute;
    background-color: #e3e3e3;
    box-shadow: 0 0 10px 99999px rgba(0, 0, 0, 0.167);
}

.restart-button {
    padding: 5px 10px;
    background-color: rgb(54, 148, 226);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}